.ipynb_checkpoints
Wykresy/
PL data/
stats_2019-2020.csv
stats_2018-2019.csv
results_2019-2020.csv
results_2018-2019.csv
PL_data_scraping_POL.ipynb
kaggle_stats.csv
kaggle_results.csv
Hipotezy.ods
10.pdf


